{% extends 'base.html' %}
{% block content %}
    <h1>Fiil the form for your application (it will be moderated)</h1>
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="btnform1">Send application</button>
    </form>

{% endblock %}
