{% extends 'base.html' %}
{% block content %}

    <h1>Subscribe for our news</h1>

    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="btnform1">Subscribe</button>
    </form>

{% endblock %}
